#calculadora {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    background-color: #293c59;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
#resultado {
    width: 160px;
    height: 25px;
    text-align: right;
    margin-bottom: 10px;
    background-color: #e3dfdf;
  
}

table{
    margin-left: 10px;
}
table button {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    margin: 5px;
    background-color: #dfdede;
    color: rgb(38, 38, 38);
    cursor: pointer;
   
}


